name: Book Management CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run unit tests
        run: mvn test

      - name: Build Docker image
        run: docker build -t book-management-service:latest .

      - name: Login to ACR
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | \
          docker login ${{ secrets.ACR_LOGIN_SERVER }} \
          -u ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Tag Docker image
        run: |
          docker tag book-management-service:latest \
            ${{ secrets.ACR_LOGIN_SERVER }}/book-management-service:latest

      - name: Push image to ACR
        run: |
          docker push \
            ${{ secrets.ACR_LOGIN_SERVER }}/book-management-service:latest
      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: book-management-app
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          images: myacr123.azurecr.io/book-management-service:latest

